@import 'variables';

html {
  font-size: @base-font-size;
}

body {
  font-family: @font-family;
  font-size: 1em;
  background-color: @gray;
  color: @text-color;
}

h1 {
  font-size: 2.4em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.8em;
}

p {
  font-size: 1.3em;
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

header {
  margin: @margin-header;
  text-align: center;
  background-color: @white;
  height: 220px;
}

header * {
  position: relative;
  top: -75px;
}

hr {
  border: none;
  height: 3px;
  margin: 10px 10%;
  background-color: @gray;
}

header img {
  border-radius: 50%;
  .image-size;
  position: relative;
  top: -75px;
}

header h1 {
  font-size: 30px;
  position: relative;
  top: -75px;
  margin: 20px;
}

.section-sample {
  margin: @margin-section;
  background-color: @white;
  padding: @section-padding;

  & h1 {
    color: @primary-color;
    height: 60px;
    line-height: 60px;
  }

  & p {
    font-size: 18px;
  }

  & table tr {
    & td:first-child {
      font-weight: 800;
      font-size: 18px;
      height: 90px;
      width: 130px;

      & p {
        height: 20px;
        position: relative;
        top: -20px;
      }
    }

    & .td-col-2 {
      width: 800px;

      & * {
        height: 30px;
        line-height: 30px;
        background-color: @gray;
        padding: 2px 20px;
      }
    }
  }
}

main {
  margin-bottom: 4%;
}
