@black: #000;
@dark-gray: #363636;
@gray: #ededed;
@white: #fff;
@primary-color: #ec7263;
@margin-header: 8% 8% 0px 8%;
@margin-section: 0 8%;
@section-padding: 0px 50px;

@background: @gray;
@gray-border-color: @gray;
@text-color: @dark-gray;

@base-font-size: 10px;
@font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;

@base-padding: 10px;
@base-margin: 20px;

.image-size {
  width: 150px;
  height: 150px;
}
